<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Space48_FriendlyUrls>
			<version>0.1.1</version>
		</Space48_FriendlyUrls>
	</modules>
	<global>
		<blocks>
			<space48friendlyurls>
				<class>Space48_FriendlyUrls_Block</class>
			</space48friendlyurls>
            <catalog>
                <rewrite>
                    <layer_state>Space48_FriendlyUrls_Block_Catalog_Layer_State</layer_state>
                    <!--<product_list_toolbar>Space48_FriendlyUrls_Block_Catalog_Product_List_Toolbar</product_list_toolbar>-->
                </rewrite>
            </catalog>

            <page>
                <rewrite>
                    <html_pager>Space48_FriendlyUrls_Block_Page_Html_Pager</html_pager>
                    <!--<html_head>Space48_FriendlyUrls_Block_Head</html_head>-->
                </rewrite>
            </page>
		</blocks>
		<models>
			<space48friendlyurls>
				<class>Space48_FriendlyUrls_Model</class>
				<resourceModel>space48friendlyurls_mysql</resourceModel>
			</space48friendlyurls>
			<space48friendlyurls_mysql>
				<class>Space48_FriendlyUrls_Model_Mysql</class>
				<entities>
					<attributes><table>space48_friendlyurls</table></attributes>
				</entities>
			</space48friendlyurls_mysql>
            <catalog>
                <rewrite>
                    <layer_filter_item>Space48_FriendlyUrls_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                </rewrite>
            </catalog>
		</models>
		<helpers>
			<space48friendlyurls>
				<class>Space48_FriendlyUrls_Helper</class>
			</space48friendlyurls>
		</helpers>
		<resources>
			<space48friendlyurls_setup>
				<setup>
					<module>Space48_FriendlyUrls</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</space48friendlyurls_setup>
			<space48friendlyurls_write>
				<connection><use>core_write</use></connection>
			</space48friendlyurls_write>
			<space48friendlyurls_read>
				<connection><use>core_read</use></connection>
			</space48friendlyurls_read>
		</resources>

        <events>
            <controller_front_init_routers>
                <observers>
                    <space48friendlyurls>
                        <class>Space48_FriendlyUrls_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </space48friendlyurls>
                </observers>
            </controller_front_init_routers>
        </events>
	</global>
	<admin>
		<routers>
			<space48friendlyurls>
				<use>admin</use>
				<args>
					<frontName>friendlyurls</frontName>
					<module>Space48_FriendlyUrls</module>
				</args>
			</space48friendlyurls>
			<adminhtml>
				<args>
					<modules>
						<Space48_FriendlyUrls>Space48_FriendlyUrls</Space48_FriendlyUrls>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
        <events>
            <catalog_entity_attribute_save_commit_after>
                <observers>
					<space48friendlyurls_save_attribute>
						<class>Space48_FriendlyUrls_Model_Observer_LookupUpdate</class>
						<method>saveAttributes</method>
					</space48friendlyurls_save_attribute>
				</observers>
            </catalog_entity_attribute_save_commit_after>
            <catalog_entity_attribute_delete_after>
                <observers>
                    <space48friendlyurls_delete_attribute>
                        <class>Space48_FriendlyUrls_Model_Observer_LookupUpdate</class>
                        <method>deleteAttributes</method>
                    </space48friendlyurls_delete_attribute>
                </observers>
            </catalog_entity_attribute_delete_after>
        </events>
		<layout>
			<updates>
				<space48friendlyurls>
					<file>space48/friendlyurls.xml</file>
				</space48friendlyurls>
			</updates>
		</layout>
        <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<space48friendlyurls translate="title" module="space48friendlyurls">
											<title>SEO Friendly URLs</title>
											<sort_order>-1</sort_order>
										</space48friendlyurls>
									</children>
								</config>
							</children>
						</system>
						<space48friendlyurls translate="title" module="space48friendlyurls">
							<title>SEO Friendly URLs</title>
						</space48friendlyurls>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
    <frontend>
        <routers>
            <space48friendlyurls>
                <use>standard</use>
                <args>
                    <frontName>friendlyurls</frontName>
                    <module>Space48_FriendlyUrls</module>
                </args>
            </space48friendlyurls>
        </routers>
        <translate>
            <modules>
                <Space48_FriendlyUrls>
                    <files>
                        <default>Space48_FriendlyUrls.csv</default>
                    </files>
                </Space48_FriendlyUrls>
            </modules>
        </translate>
        <layout>
            <updates>
                <space48friendlyurls>
                    <file>space48/friendlyurls.xml</file>
                </space48friendlyurls>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <space48friendlyurls_update_canonical_urls>
                        <class>Space48_FriendlyUrls_Model_Observer_Content</class>
                        <method>_updateMetaData</method>
                    </space48friendlyurls_update_canonical_urls>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
            <controller_action_layout_render_before_customlandingpage_index_brand>
                <observers>
                    <space48friendlyurls_update_canonical_urls>
                        <class>Space48_FriendlyUrls_Model_Observer_Content</class>
                        <method>_updateMetaData</method>
                    </space48friendlyurls_update_canonical_urls>
                </observers>
            </controller_action_layout_render_before_customlandingpage_index_brand>
            <controller_action_layout_render_before_cms_page_view>
                <observers>
                    <space48friendlyurls_update_canonical_urls>
                        <class>Space48_FriendlyUrls_Model_Observer_Content</class>
                        <method>_updateCmsPageCanonical</method>
                    </space48friendlyurls_update_canonical_urls>
                </observers>
            </controller_action_layout_render_before_cms_page_view>
        </events>
    </frontend>
    <default>
        <web>
            <routers>
				<space48friendlyurls>
                    <area>frontend</area>
                    <class>Space48_FriendlyUrls_Controller_Router</class>
                </space48friendlyurls>
            </routers>
		</web>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <space48friendlyurls>
                                            <title>Space 48 Canonical Url Attributes - All</title>
                                        </space48friendlyurls>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>