<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Space 48 Module configuration file (XML) for the admin section
*
* PHP Version 5
*
* @category ConfigXML
* @package  Basketpopup
* @author   George Schiopu <george@space48.com>
* @license  MIT http://www.google.com
* @version  GIT: 0.1.0
* @link     http://www.space48.com
*/
-->
<config>
    <tabs>
        <space48adminconf translate="label" module="space48friendlyurls">
            <label>Space 48</label>
            <sort_order>48</sort_order>
        </space48adminconf>
    </tabs>
    <sections>
        <space48friendlyurls translate="label" module="space48friendlyurls">
            <label>SEO Friendly URLs</label>
            <tab>space48adminconf</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label" module="space48friendlyurls">
                    <label>Canonical Url Attributes</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <attributes translate="label">
                            <label>Select Attributes:</label>
                            <comment>Attributes to maintain within canonical url</comment>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>space48friendlyurls/system_config_source_attributes</source_model>
                        </attributes>
                    </fields>
                </settings>
            </groups>
        </space48friendlyurls>
    </sections>
</config>